.wrapper {
	width: 96vw;
	background-color: #ccc;
	font-family: Arial, Verdana;
	border-radius: 5px;
	font-size: 2.5vw;
	margin: 5px;
	padding: 10px;
}

div  {
	display: inline-block;
}

div[id$="change"]  {
	display: block;
	width: 50%;
	background-color: #ddd;
}

.up {
	color: #1cf6ba;
}

.down {
	color: #c84473;
}

.source {
	margin-top: 50px;
	text-align: left;
	font-size: 12px;
}

a {
	color: #eeeeee;
	font-size: 12px;
}

a:hover {
	color: #c84473;
}

.market {
	color: #1cf6ba;
}
